{% if NODE_ENV == "development" %}
    <div tabindex="-1" class="overflow-hidden w-fit left-1/2 -translate-x-1/2 bottom-6 z-50 fixed flex flex-row justify-between bg-gray-200 border border-gray-500 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 opacity-100 touch:hidden hover:opacity-100">
        <div class="py-2 px-4 bg-green-700 text-gray-500 dark:text-gray-200">
            <p class="text-xs font-bold">HTTP status</p>
            <p class="text-lg ">
                {{ profiler.statusCode }}
            </p>
        </div>
        <div class="py-2 px-4 text-gray-500 dark:text-gray-200 border-l-gray-100 border-solid border-l">
            <p class="text-xs font-bold">Current route</p>
            <p class="text-lg">
                @{{ profiler.current_route }}
            </p>
        </div>
        <div class="py-2 px-4 text-gray-500 dark:text-gray-200 border-l-gray-100 border-solid border-l">
            <p class="text-xs font-bold">Response time</p>
            <p class="text-lg">
                {{ profiler.response_time }}
            </p>
        </div>
        <div class="py-2 px-4 border-l-gray-100 border-solid border-l text-gray-500 dark:text-gray-200 flex flex-col gap-1">
            <p class="text-xs font-bold">Eslint</p>
            <p class="text-sm font-normal">{{ profiler.eslint_report.errorCount }} error(s), {{ profiler.eslint_report.warningCount }} warning(s)</p>
            <a href="{{ routeName("eslint") }}" target="_blank" class="flex gap-1 justify-center items-center text-center px-5 py-2 text-xs text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                See more
                <span>
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
{% endif %}