*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
  Le code ci-dessous permet de retirer 
  les animations pour les personnes qui ont décidé de les désactiver 
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  --bg-c: rgba(255, 255, 255, 0.75);
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--bg-c);
  padding: 1.1rem;
}

.main {
  padding: 0 0.75em 0.75em;
}

.conteneur-principal {
  margin-top: 1.5rem;
}

.conteneur {
  border-radius: 10px;
  border: solid 3px #333;
  margin-bottom: 1.5625rem;
}
