body,
html {
  font-family: Helvetica, Arial, sans-serif;
}

.consignes-conteneur {
  padding: 0.75rem;
  border: 0.125rem solid #d1d1e5;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.consignes-conteneur ul,
.consignes-conteneur ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.consignes-conteneur .h1 {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
}

.consignes-conteneur .liste-consignes {
  margin-left: 30px;
  margin-top: 1rem;
}

.consignes-conteneur .liste-consignes .fait {
  text-decoration: line-through;
}

.consignes-conteneur .liste-consignes > li p:first-child,
.consignes-conteneur .liste-consignes > li::marker {
  font-size: 1.2rem;
  font-weight: bold;
}

.consignes-conteneur code {
  display: block;
  white-space: pre-wrap;
}

.consignes-conteneur kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}