{% extends "layouts/back-end/base.njk" %}

{% set chars_limit = 200 %}
{% set page_name = "saes" %}

{% block main %}
	<div class="bg-white rounded-2xl shadow-md pb-6">
		<header class="p-6 pl-8 ">
			<p class="text-4xl">
				{% if is_edit == true %}
					Editer
					"{{ sae.title }}"
				{% else %}
					Créer
				{% endif %}
			</p>
			<p class="text-sm">Les champs avec
				<span class="font-bold text-slate-700 after:content-['*'] after:ml-0.5 after:text-red-500"></span>
				sont requis
			</p>
		</header>

		<div class="px-8">
			<form action="" data-form method="post" enctype="multipart/form-data">
                {% for item in list_errors %}
                    <p class="rounded-lg p-3 bg-red-100 text-red-800 border-solid border-x border-y border-red-700 mb-3">{{ item }}</p>
                {% endfor %}

                {% if is_success == true %}
                    <p class="rounded-lg p-3 bg-green-100 text-green-800 border-solid border-x border-y border-green-700 mb-3">Element mis à jour</p>
                {% endif %}
				<label class="block mb-4">
					<span class="font-bold text-slate-700 after:content-['*'] after:ml-0.5 after:text-red-500">Titre</span>
					<input class="block bg-white w-full border border-slate-300 rounded-md py-2 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" type="text" name="title" value="{{ sae.title }}"/>
				</label>

				<label class="block mb-4">
					<span class="font-bold text-slate-700 after:ml-0.5 after:text-red-500">Image</span>
                    
                    <figure class="w-fit mb-2">
                        <img class="" src="{{ '/uploads/' ~ sae.image }}" data-preview-upload="image" width="250" alt="">
                    </figure>
					<input 
                        data-upload-file="image"
                        type="file" 
                        accept=".jpg, .jpeg, .png"
                        class="block w-full text-sm text-slate-500
					      file:mr-4 file:py-2 file:px-4
					      file:rounded-full file:border-0
					      file:text-sm
					      file:bg-sky-50 file:border-sky-500
					      hover:file:bg-sky-100
					    "
                        name="image"
                        />
                    <span class="mt-1 text-sm text-slate-500" id="file_input_help">.jpg, .jpeg, .png (taille max. 800kB).</span>
				</label>

				<label class="block mb-4">
					<span class="font-bold text-slate-700">Contenu</span>
					<textarea name="content" cols="15" rows="5" maxlength="{{ chars_limit }}" class="block bg-white w-full border border-slate-300 rounded-md py-2 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm">{{ sae.content }}</textarea>
					<p class="text-sm">
						Limite :
						{{ chars_limit }}
						caractères
					</p>
				</label>

				<button class="mt-3 px-4 py-2 font-semibold text-sm bg-cyan-500 hover:bg-cyan-600 text-white rounded-2xl shadow-sm" type="submit">Sauvegarder</button>
				<button class="mt-3 px-4 py-2 font-semibold text-sm bg-neutral-100 hover:bg-neutral-300 text-black rounded-2xl shadow-sm" type="reset">Réinitialiser</button>
			</form>
		</div>
	</div>
{% endblock %}
