{% extends "layouts/back-end/base.njk" %}

{% set page_name = "saes" %}

{% import "components/back-end/pagination.njk" as pagination with context %}
{% import "components/back-end/list-actions.njk" as list_actions %}
{% import "pages/back-end/saes/table.njk" as saes with context %}

{% block main %}
    <div class="bg-white rounded-2xl shadow-md pb-6">
        <header class="mb-1 p-6 pl-8 flex justify-between lg:flex-row flex-col">
            <p class="text-4xl">
            Liste SAEs
                <span class="block text-sm">{{ list_saes.count }} éléments au total</span>
            </p>
            <a href="{{ admin_url ~ "/saes/add" }}" class="text-md items-center text-blue-700 hover:text-blue-950 h-fit">Ajouter une nouvelle SAE</a>
        </header>
        {% if messages.success %}
            <div class="px-6">
                <p class="rounded-lg p-3 bg-green-100 text-green-800 border-solid border-x border-y border-green-700 mb-3">{{ messages.success }}</p>
            </div>
        {% endif %}
        {{ saes.table(list_saes)}}
        <footer class="flex justify-between px-4">
            {{ pagination.item(list_saes) }}
        </footer>
    </div>
{% endblock %}