{% extends "layouts/back-end/base.njk" %}

{% set page_name = "saes" %}

{% import "components/back-end/pagination.njk" as pagination with context %}

{% block main %}
	<div class="bg-white rounded-2xl shadow-md pb-6">
		<header class="mb-1 p-6 pl-8 flex justify-between lg:flex-row flex-col">
			<p class="text-4xl">
            Liste SAEs
                <span class="block text-sm">{{ list_saes.count }} éléments au total</span>
            </p>
            <a href="{{ admin_url ~ "/saes/add" }}" class="text-md items-center text-blue-500 hover:text-blue-900">Ajouter une nouvelle SAE</a>
		</header>

		<table class="w-full table-fixed bg-white rounded-lg overflow-hidden border-collapse">
			<thead class="">
				<tr class="text-slate-800">
					<th class="font-bold pl-8  text-left border-solid border-slate-200 border-b pb-5">Titre</th>
					<th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Description</th>
					<th class="pl-8 border-solid border-slate-200 border-b pb-5 w-[150px]"></th>
					<th class="pl-8 border-solid border-slate-200 border-b pb-5 w-[150px]"></th>
				</tr>
			</thead>
			<tbody>
				{% for item in list_saes.data %}
					<tr class="odd:bg-neutral-50">
						<td class="bg-transparent border-solid border-slate-200 border-b p-4 pl-8" data-label="Titre">{{ item.title }}</td>
						<td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent" data-label="Description">
							<p class="line-clamp-2 md:line-clamp-1" title="{{ item.content }}">{{ item.content }}</p>
						</td>
						<td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent"><a href="{{ admin_url ~ '/saes/' ~ item._id }}" class="text-blue-500 hover:text-blue-900 block sm:inline-block w-full sm:w-fit text-left">Editer</a></td>
						<td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent">
                            <button type="button" class="text-red-600 block sm:inline-block sm:w-fit w-full text-left" data-delete-name='{{ item.title }}' data-delete-url="{{ base_url ~ "/api/saes/" ~ item._id  }}">Supprimer</button>
                        </td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4" class="text-center bg-transparent border-solid border-slate-200 border-b p-4 pl-8">Pas de contenu pour le moment</td>
					</tr>
				{% endfor %}
			</tbody>
			</tbody>
		</table>
        <footer class="flex justify-between px-4">
            {{ pagination.item(list_saes) }}
        </footer>
	</div>
{% endblock %}
