{% macro table(list) %}
    <table class="w-full bg-white rounded-lg overflow-hidden border-collapse">
        <thead>
            <tr class="text-slate-800">
                <th class="font-bold px-6 text-left border-solid border-slate-200 border-b py-3">Titre</th>
                <th class="font-bold px-6 text-left border-solid border-slate-200 border-b py-3">Contenu</th>
                <th class="px-6 border-solid border-slate-200 border-b py-3"></th>
            </tr>
        </thead>
        
        <tbody>
            {% for item in list.data %}
                <tr class="hover:bg-neutral-50 even:bg-blue-50">
                    <td class="bg-transparent border-solid border-slate-200 border-b py-4 px-6" data-label="Titre">{{ item.title }}</td>
                    <td class="py-4 px-6 bg-transparent border-solid border-slate-200 border-b shadow-transparent" data-label="Contenu">
                        <p class="line-clamp-2 md:line-clamp-1" title="{{ item.content }}">{{ item.content }}</p>
                    </td>
                    <td class="py-4 px-6 bg-transparent border-solid border-slate-200 border-b shadow-transparent lg:text-right align-middle">
                        <div class="inline-flex gap-6">
                            {{ list_actions.edit(admin_url ~ '/saes/' ~ item._id)}}
                            {{ list_actions.delete(base_url ~ "/api/saes/" ~ item._id, item.title)}}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center bg-transparent border-solid border-slate-200 border-b py-4 px-6">Pas de contenu pour le moment</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}