.consignes-conteneur {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.75rem;
    border: 0.125rem solid #d1d1e5;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    position: relative;

    @media (prefers-color-scheme: dark) {
        background-color: #333;
        color: white;

        a:visited {
            color: yellow;
        }

        a:link {
            color: white;
        }
    }

    .h1 {
        font-size: 1.75rem;
        font-weight: bold;
        display: inline-block;
        margin: 0.75rem 0;
    }

    .liste-consignes {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        list-style: revert;
    }

    .block-consigne {
        margin-bottom: 2.5rem;

        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 42%;
            margin: 30px auto 0;
            background-color: black;
        }
    }

    figcaption {
        font-style: italic;
        text-align: center;
    }

    summary {
        font-size: 1.5rem;
    }
    
    .description {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    figure {
        width: fit-content;
    }
    
    .banniere {
        padding: 0.5rem;
        background-color: rgb(255, 161, 94);
        border-bottom: chocolate 2px solid;
        color: black;
        font-size: 1.25rem;

        .conteneur {
            margin: 0 auto;
        }
    }

    kbd {
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid #b4b4b4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
            0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
        color: #333;
        display: inline-block;
        font-size: 0.85em;
        font-weight: 700;
        line-height: 1;
        padding: 2px 4px;
        white-space: nowrap;
    }

    img {
        max-width: 100%;
    }
    
    pre {
        margin: 0;
    }

    .texte-gras {
        font-weight: bold;
    }

    code {
        font-family: monospace;
        letter-spacing: 1.2;
        background-color: black;
        padding: 0 0.35rem;
        color: white;
        border: 1px solid #b4b4b4;
        margin-bottom: 1rem;
        font-family: monospace;
    }

    p {
        margin: 0.8rem 0;
    }

    .link {
        font-size: 0.9rem;
        position: absolute;
        right: 15px;
    }
}

.consignes-conteneur a:hover {
    text-decoration: none;
}

.titre-consignes {
    font-size: 2.25rem;
    font-weight: bold;
    display: inline-block;
}

.titre-principal {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

.liste-consignes ul,
.consignes-conteneur ul,
.consignes-conteneur ol,
.consignes-conteneur li {
    margin: revert;
    padding: revert;
    list-style: revert;
}

.note-importante {
    font-family: Helvetica, Arial, sans-serif;
    border-left: 5px solid rgb(218, 1, 1);
    padding: 1rem;
    font-size: 1.15rem;
    background-color: #f6969638;
    margin-bottom: 1rem;

    p {
        margin-bottom: 0.95rem;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.note-information {
    font-family: Helvetica, Arial, sans-serif;
    border-left: 5px solid rgb(4, 0, 255);
    padding: 1rem;
    font-size: 1.15rem;
    background-color: #96d4f638;
    margin-bottom: 1rem;

    p {
        margin-bottom: 0.95rem;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.note-attention {
    font-family: Helvetica, Arial, sans-serif;
    border-left: 5px solid rgb(255, 238, 0);
    padding: 1rem;
    font-size: 1.15rem;
    background-color: #f6f09638;
    margin-bottom: 1rem;

    p {
        margin-bottom: 0.95rem;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.consignes-title-conteneur {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.tab-wrapper {
    .list-tabs {
        list-style: none;
        display: flex;
        overflow: hidden;
        width: fit-content;
        column-gap: 0.45rem;
        padding: 0;
        margin-top: 0.7rem;
    }

    button {
        padding: 14px 16px;
        appearance: none;
        border: none;
    
        &.active {
            background-color: cadetblue;
            color: white;
        }
    }

    .tab-content {
        display: none;
    }

    .list-tab-content {
        border: 1px solid white;
        padding: 0.5rem;
    
        @media (prefers-color-scheme: light) {
            border: 1px solid black;
        }
    }
}

.entete-consignes {
    max-width: 1400px;
    margin: 0 auto;
}