:root {
    --black: oklch(13.44% 0 0);
    --white: oklch(95.81% 0 0);
    --light-gray: oklch(86.68% 0.0274 285.81);
    --yellow-attention: oklch(93.3% 0.1972 104.32);
    --blue-information: oklch(61.67% 0.1891 252.84);
    --red-alert: oklch(55.81% 0.2287 29.2);
    --green-code: oklch(0.57 0.16 155.16);
}

.consignes-en-tete {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.55rem;
}

:root {
    --ease-2: cubic-bezier(0.25, 0, 0.4, 1);
    --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
    --ease-4: cubic-bezier(0.25, 0, 0.2, 1);
    --ease-spring-4: linear(0, 0.009, 0.037 1.7%, 0.153 3.6%, 0.776 10.3%, 1.001, 1.142 16%, 1.185, 1.209 19%, 1.215 19.9% 20.8%, 1.199, 1.165 25%, 1.056 30.3%, 1.008 33%, 0.973, 0.955 39.2%, 0.953 41.1%, 0.957 43.3%, 0.998 53.3%, 1.009 59.1% 63.7%, 0.998 78.9%, 1);
}

.consignes-conteneur {
    --_duration: 0.2s;
    --padding-details-content: 1.15rem;
    --size-arrow-icon: 24px;

    inline-size: 100%;
    box-sizing: border-box;
    overflow: hidden;

    *, *::before, *::after {
        box-sizing: border-box;
    }

    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
        transition: background-color var(--_duration);

        &::details-content {
            transition: content-visibility var(--_duration) allow-discrete,
                opacity var(--_duration), block-size var(--_duration),
                scale var(--_duration);
        }

        > summary {
            transition: translate var(--_duration) allow-discrete;

            &::before {
                transition:
                    opacity .1s var(--ease-2) .027s,
                    translate .1s var(--ease-4) .027s,
                    rotate .75s var(--ease-spring-4);
            }
        }
    }

    &:is(:hover, :focus-within):not([open]) {
        background-color: oklch(from rgb(51, 51, 51) calc(l * 1.25) c h);

        @media (prefers-color-scheme: light) {
            background-color: oklch(from white calc(l * .85) c h);;
        }
    }

    &::details-content {
        opacity: 0;
        block-size: 0;
        overflow-y: clip;
    }

    &[open] {
        @supports not selector(::details-content) {
            summary {
                padding-inline: 0;
            }

            padding: 0px var(--padding-details-content) var(--padding-details-content);
        }

        &::details-content {
            opacity: 1;
            block-size: auto;
            padding: var(--padding-details-content);
            padding-top: 0;
        }

        > summary {
            &:not(:hover, :focus-visible) {
                translate: calc(var(--size-arrow-icon) * -1) 0;
                &::before {
                    translate: -10px 0;
                    opacity: 0;
                }
            }

            &::before {
                rotate: .25turn;
            }
        }
    }

    > summary {
        cursor: default;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        width: calc(var(--size-arrow-icon) + 100%);

        &::-webkit-details-marker {
            display: none;
        }

        &::before {
            display: block;
            width: var(--size-arrow-icon);
            height: var(--size-arrow-icon);
            aspect-ratio: 1;
            scale: 0.7;
            content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTcuMzMgMjRsLTIuODMtMi44MjkgOS4zMzktOS4xNzUtOS4zMzktOS4xNjcgMi44My0yLjgyOSAxMi4xNyAxMS45OTZ6Ii8+PC9zdmc+);

            @media (prefers-color-scheme: light) {
                content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy4zMyAyNGwtMi44My0yLjgyOSA5LjMzOS05LjE3NS05LjMzOS05LjE2NyAyLjgzLTIuODI5IDEyLjE3IDExLjk5NnoiLz48L3N2Zz4=);
            }
        }

        ~ * {
            margin-top: 0;
        }
    }
}

.consignes-conteneur {
    font-family: Helvetica, Arial, sans-serif;
    border: 0.125rem solid #d1d1e5;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    position: relative;

    @media (prefers-color-scheme: dark) {
        background-color: #333;
        color: white;

        a:visited {
            color: yellow;
        }

        a:link {
            color: white;
        }
    }

    .h1 {
        font-size: 1.75rem;
        font-weight: bold;
        display: inline-block;
        margin: 0.75rem 0;
    }

    .liste-consignes {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        list-style: revert;
    }

    .block-consignes {
        margin-bottom: 2.5rem;

        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 42%;
            margin: 30px auto 0;
            background-color: var(--black);
        }
    }

    figcaption {
        font-style: italic;
        text-align: center;
    }

    summary {
        margin: 0.75rem;
    }

    .description {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    figure {
        width: fit-content;
    }

    .banniere {
        padding: 0.5rem;
        background-color: rgb(255, 161, 94);
        border-bottom: chocolate 2px solid;
        color: var(--black);
        font-size: 1.25rem;

        .conteneur {
            margin: 0 auto;
        }
    }

    kbd {
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid #b4b4b4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
            0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
        color: #333;
        display: inline-block;
        font-size: 0.85em;
        font-weight: 700;
        line-height: 1;
        padding: 2px 4px;
        white-space: nowrap;
    }

    img {
        max-width: 100%;
    }

    pre {
        margin: 0;
    }

    .texte-gras {
        font-weight: bold;
    }

    .texte-italique {
        font-style: italic;
    }

    code {
        background-color: rgb(29, 31, 33);
        padding: 0 0.35rem;
        color: white;
        border: 1px solid #b4b4b4;
        font-family: monospace;
        border-radius: 0.25rem;
    }

    p {
        margin: 0.8rem 0;
    }

    .link {
        font-size: 0.9rem;
        position: absolute;
        right: 15px;
    }

    li {
        margin-bottom: 0.25rem;
    }
}

.consignes-conteneur a:hover {
    text-decoration: none;
}

.titre-consignes {
    font-size: 2.25rem;
    font-weight: bold;
    display: inline-block;
}

.titre-principal {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

.liste-consignes ul,
.consignes-conteneur ul,
.consignes-conteneur ol,
.consignes-conteneur li {
    padding: revert;
    list-style: revert;
}

.note-importante {
    --color: var(--red-alert);
    font-family: Helvetica, Arial, sans-serif;
    border-left: 5px solid var(--color);
    padding: 1rem;
    font-size: 1.15rem;
    background-color: rgb(from var(--color) r g b / 0.1);
    margin-bottom: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0.5rem 0;

    p {
        margin-bottom: 0.75rem;
    }

    *:last-child {
        margin-bottom: 0;
    }

    *:first-child {
        margin-top: 0;
    }
}

.note-information {
    --color: var(--blue-information);
    font-family: Helvetica, Arial, sans-serif;
    border-left: 5px solid var(--color);
    padding: 1rem;
    font-size: 1.15rem;
    background-color: rgb(from var(--color) r g b / 0.12);
    margin-bottom: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0.5rem 0;

    p {
        margin-bottom: 0.75rem;
    }

    *:last-child {
        margin-bottom: 0;
    }

    *:first-child {
        margin-top: 0;
    }
}

.note-attention {
    --color: var(--yellow-attention);
    font-family: Helvetica, Arial, sans-serif;
    border-left: 5px solid var(--color);
    padding: 1rem;
    font-size: 1.15rem;
    background-color: rgb(from var(--color) r g b / 0.06);
    margin-bottom: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0.5rem 0;

    p {
        margin-bottom: 0.75rem;
    }

    *:last-child {
        margin-bottom: 0;
    }

    *:first-child {
        margin-top: 0;
    }
}

.consignes-title-conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-wrapper {
    .list-tabs {
        list-style: none;
        display: flex;
        width: fit-content;
        padding: 0;
        margin-top: 0.7rem;
        margin-bottom: 0;

        li {
            margin-bottom: 0;
        }
    }

    .select-tab {
        padding: 0.9rem 1rem;
        appearance: none;
        border: none;
        background-color: transparent;
        position: relative;
        color: var(--black);
        font-size: 1rem;
        opacity: 0.8;
        transition: opacity 350ms;

        &:hover, &:focus-visible {
            opacity: 1;

            &::after {
                transform: scaleX(0.1);
            }
        }

        @media (prefers-color-scheme: dark) {
            color: rgb(241, 241, 241);
        }

        &::after {
            content: "";
            background-color: var(--black);
            @media (prefers-color-scheme: dark) {
                background-color: white;
            }
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0.25rem;
            transform: scaleX(0);
            transition: transform 350ms;

            @starting-style {
                transform: scaleX(0);
            }
        }

        &.active {
            font-weight: bold;
            opacity: 1;

            &::after {
                transform: scaleX(1);
            }
        }
    }

    .tab-content {
        display: none;
    }

    .list-tab-content {
        border: 1px solid white;
        padding: 0.5rem;
        border-bottom-left-radius: 0.35rem;
        border-bottom-right-radius: 0.35rem;
        margin-top: 0;

        @media (prefers-color-scheme: light) {
            border-color: var(--black);
        }
    }
}

.entete-consignes {
    max-width: 1400px;
    margin: 0 auto;
}

.inner-note {
    font-size: 1.2rem;
    margin: 1.5rem 1rem 1.5rem 2.5rem;
    padding-left: 2rem;
    position: relative;
    overflow: hidden;
    font-style: italic;

    &::before,
    &::after{
        position: absolute;
    }

    &::before {
        content: '';
        background-color: var(--color);
        width: 15px;
        height: 15px;
        display: inline-block;
        mask-size: cover;
        mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='currentColor'><path d='M9.983 3v7.391C9.983 16.095 6.252 19.961 1 21l-.995-2.151C2.437 17.932 4 15.211 4 13H0V3h9.983zM24 3v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151C16.437 17.932 18 15.211 18 13h-3.983V3H24z'/></svg>") no-repeat 0 0;
        left: 0;
    }

    &::after {
        content: "";
        left: 5px;
        top: 25px;
        width: 1px;
        height: 100%;
        background-color: var(--color);
    }
}
