@media (prefers-color-scheme: dark) {
    .consignes-conteneur {
        background-color: #333;
        color: white;
    }

    .consignes-conteneur a:link {
        color: white;
    }

    .consignes-conteneur a:visited {
        color: yellow;
    }
}

.consignes-conteneur {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.75rem;
    border: 0.125rem solid #d1d1e5;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    position: relative;
}

.consignes-conteneur a:hover {
    text-decoration: none;
}

.titre-consignes {
    font-size: 2.25rem;
    font-weight: bold;
    display: inline-block;
}

.consignes-conteneur .h1 {
    font-size: 1.75rem;
    font-weight: bold;
    display: inline-block;
    margin: 0.75rem 0;
}

.consignes-conteneur .liste-consignes {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    list-style: revert;
}

.consignes-conteneur .block-consigne {
    margin-bottom: 2.5rem;
}

.consignes-conteneur .block-consigne::after {
    content: "";
    display: block;
    height: 2px;
    width: 42%;
    margin: 30px auto 0;
    background-color: black;
}

.consignes-conteneur figcaption {
    font-style: italic;
    text-align: center;
}

.consignes-conteneur summary {
    font-size: 1.5rem;
}

.consignes-conteneur .description {
    font-size: 1.25rem;
    line-height: 1.5;
}

.consignes-conteneur figure {
    width: fit-content;
}

.titre-principal {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

.consignes-conteneur .banniere {
    padding: 0.5rem;
    background-color: rgb(255, 161, 94);
    border-bottom: chocolate 2px solid;
    color: black;
    font-size: 1.25rem;
}

.consignes-conteneur .banniere .conteneur {
    margin: 0 auto;
}

.consignes-conteneur kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.consignes-conteneur img {
    max-width: 100%;
}

.liste-consignes ul,
.consignes-conteneur ul,
.consignes-conteneur ol,
.consignes-conteneur li {
    margin: revert;
    padding: revert;
    list-style: revert;
}

.consignes-conteneur .texte-gras {
    font-weight: bold;
}

.consignes-conteneur .note-importante {
    border-left: 5px solid red;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #f6969638;
}

.consignes-conteneur .note-information {
    border-left: 5px solid rgb(4, 0, 255);
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #96d4f638;
}

.consignes-conteneur code {
    font-family: monospace;
    letter-spacing: 1.2px;
    background-color: black;
    padding: 0 0.35rem;
    color: white;
    border: 1px solid #b4b4b4;
    margin-bottom: 1rem;
}

.consignes-conteneur p {
    margin: 0.8rem 0;
}

.consignes-title-conteneur {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.consignes-conteneur .link {
    font-size: 0.9rem;
    position: absolute;
    right: 15px;
}

.tab-wrapper .list-tabs {
    list-style: none;
    display: flex;
    overflow: hidden;
    width: fit-content;
    column-gap: 0.45rem;
    padding: 0;
    margin-top: 0.7rem;
}

.tab-wrapper .list-tabs button {
    padding: 14px 16px;
    appearance: none;
    border: none;
}

.tab-wrapper .list-tabs button.active {
    background-color: cadetblue;
    color: white;
}

.tab-wrapper .tab-content {
    display: none;
}

.tab-wrapper .list-tab-content {
    border: 1px solid white;
    padding: 0.5rem;
}

@media (prefers-color-scheme: light) {
    .tab-wrapper .list-tab-content {
        border: 1px solid black;
    }
}

