@media (prefers-color-scheme: dark) {
    .consignes-conteneur {
        background-color: #333;
        color: white;
    }

    .consignes-conteneur a:link {
        color: white;
    }

    .consignes-conteneur a:visited {
        color: yellow;
    }
}

.consignes-conteneur {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.75rem;
    border: 0.125rem solid #d1d1e5;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.consignes-conteneur a:hover {
    text-decoration: none;
}

.titre-consignes {
    font-size: 2.25rem;
    font-weight: bold;
    display: inline-block;
}

.consignes-conteneur .h1 {
    font-size: 1.75rem;
    font-weight: bold;
    display: inline-block;
    margin: 0.75rem 0;
}

.consignes-conteneur .liste-consignes {
    margin-left: 1.85rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    list-style: revert;
}

.consignes-conteneur .liste-consignes li {
    margin-bottom: 0.95rem;
}

.consignes-conteneur .block-consigne {
    margin-bottom: 2.5rem;
}

.consignes-conteneur .block-consigne::after {
    content: "";
    display: block;
    height: 2px;
    width: 42%;
    margin: 30px auto 0;
    background-color: black;
}

.consignes-conteneur figcaption {
    font-style: italic;
    text-align: center;
}

.consignes-conteneur summary {
    font-size: 1.5rem;
}

.consignes-conteneur .description {
    font-size: 1.25rem;
    line-height: 1.5;
}

.titre-principal {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

.consignes-conteneur .banniere {
    padding: 0.5rem;
    background-color: rgb(255, 161, 94);
    border-bottom: chocolate 2px solid;
    color: black;
    font-size: 1.25rem;
}

.consignes-conteneur .banniere .conteneur {
    margin: 0 auto;
}

.consignes-conteneur kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.consignes-conteneur img {
    max-width: 100%;
}

.liste-consignes ul,
.consignes-conteneur ul,
.consignes-conteneur ol,
.consignes-conteneur li {
    margin: revert;
    padding: revert;
    list-style: revert;
}

.consignes-conteneur .texte-gras {
    font-weight: bold;
}

.consignes-conteneur .note-importante {
    border-left: 5px solid red;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #f6969638;
}

.consignes-conteneur code {
    font-family: monospace;
    letter-spacing: 1.2px;
    background-color: black;
    padding: 0 0.35rem;
    color: white;
    border: 1px solid #b4b4b4;
}
