.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://via.placeholder.com/2000x350");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-rs {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.nav-rs a {
  text-decoration: none;
}
