.liste-patisseries {
  display: flex;
  gap: 3.75rem 0.8rem;
}

.liste-patisseries-principales {
  flex-direction: column;
}

/* Peut également être fait avec une classe spécifique */
/* Le selecteur "nth-child(even)" cible un élément sur deux */
.liste-patisseries-principales .conteneur-patisserie:nth-child(even) {
  flex-direction: row-reverse;
}
