*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.conteneur-principal {
  margin-top: 25px;
}

.element-conteneur {
  max-width: 450px;
}

.conteneur-survol {
  width: 100%;
  padding-top: 56.25%; /* Permet à la balise de garder un rapport de 16/9 en tout le temps */
  background: #007991; /* valeur secours pour les anciens navigateurs */
  background: -webkit-linear-gradient(
    to top,
    #78ffd6,
    #007991
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #78ffd6,
    #007991
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  border: 3px solid #333;
  border-radius: 15px;
}

.conteneur-survol div {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  padding: 2em;
}

.titre {
  font-size: 2rem;
  font-weight: bold;
  color: #242424;
  position: absolute;
  bottom: 15px;
  padding-right: 12px;
}
