{% extends "layouts/back-end/base.njk" %}

{% import "components/back-end/list-actions.njk" as list_actions %}
{% import "pages/back-end/saes/table.njk" as saes with context %}

{% block main %}
    <div class="bg-white rounded-2xl mb-10 shadow-md pb-6">
        <header class="mb-1 p-6 pr-4 pl-8 gap-2 lg:gap-0 flex justify-between lg:flex-row flex-col">
            <p class="text-4xl">Liste SAEs
                <span class="block text-sm">{{ list_saes.count }} éléments au total</span>
            </p>
            <a href="{{ admin_url ~ "/saes" }}" class="inline-flex gap-1 w-fit text-md text-white rounded-2xl items-center text-sm py-2 px-4 bg-blue-700 hover:bg-blue-950 h-fit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
                </svg>
                Voir tout
            </a>
        </header>

        {{ saes.table(list_saes)}}
    </div>

    <div class="bg-white rounded-2xl mb-10 shadow-md pb-6">
        <header class="mb-1 p-6 pl-8 pr-4 gap-2 lg:gap-0 flex justify-between lg:flex-row flex-col">
            <p class="text-4xl">Liste articles
                <span class="block text-sm">{{ list_articles.count }} éléments au total</span>
            </p>
            <a href="{{ admin_url ~ "/articles" }}" class="inline-flex gap-1 w-fit text-md text-white rounded-2xl items-center text-sm py-2 px-4 bg-blue-700 hover:bg-blue-950 h-fit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
                </svg>
                Voir tout
            </a>
        </header>

        <table class="w-full bg-white rounded-lg overflow-hidden border-collapse">
            <thead>
                <tr class="text-slate-800">
                    <th class="font-bold pl-8  text-left border-solid border-slate-200 border-b pb-5" >Titre</th>
                    <th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Contenu</th>
                    <th class="font-bold pl-8 text-left border-solid border-slate-200 border-b pb-5">Dernière mise à jour</th>
                    <th class="pl-8 border-solid border-slate-200 border-b pb-5"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in list_articles.data %}
                    <tr class="hover:bg-neutral-50 even:bg-blue-50">
                        <td class="bg-transparent border-solid border-slate-200 border-b p-4 pl-8" data-label="Titre">{{ item.title }}</td>
                        <td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent max-w-[300px]" data-label="Contenu">
                            <p class="line-clamp-2 md:line-clamp-1" title="{{ item.content }}">{{ item.content }}</p>
                        </td>
                        <td class="bg-transparent border-solid border-slate-200 border-b p-4 pl-8" data-label="Dernière mise à jour">{{ item.updated_at|date("dd/LL/yyyy à HH:mm") }}</td>

                        <td class="p-4 pl-8 bg-transparent border-solid border-slate-200 border-b shadow-transparent lg:text-right align-middle">
                            <div class="inline-flex gap-6">
                                {{ list_actions.edit(admin_url ~ '/articles/' ~ item._id)}}
                                {{ list_actions.delete(base_url ~ "/api/articles/" ~ item._id, item.title)}}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center bg-transparent border-solid border-slate-200 border-b p-4 pl-8">Pas de contenu pour le moment</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="bg-white rounded-2xl mb-10 shadow-md pb-6">
        <header class="mb-1 p-6 pl-8 pr-4 gap-2 lg:gap-0 flex justify-between lg:flex-row flex-col">
            <p>Liste messages
            </p>
        </header>
        <p>A compléter</p>
    </div>
{% endblock %}