@font-face {
  font-family: 'tp-fonts';
  src:
    url('fonts/tp-fonts.ttf?lkvgls') format('truetype'),
    url('fonts/tp-fonts.woff?lkvgls') format('woff'),
    url('fonts/tp-fonts.svg?lkvgls#tp-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tp-fonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
  content: "\e901";
}
.icon-bulb:before {
  content: "\e902";
}
.icon-lamp:before {
  content: "\e902";
}
.icon-idea:before {
  content: "\e902";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-copyright:before {
  content: "\e900";
}
