*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

.conteneur-1280 {
  max-width: 1280px;
  padding: 0 0.8rem;
  margin: 0 auto;
}

.navigation-principale ul {
  display: flex;
  justify-content: flex-end;
  column-gap: 2.625rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.navigation-principale a {
  text-decoration: none;
  color: black;
  padding-top: 2.25rem;
  border-top: 3px solid transparent;
  display: block;
}

.navigation-principale a:hover,
.navigation-principale a:focus {
  color: #ef509f;
}

.titre {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.066666666666667rem;
  max-width: 800px;
}

.colonne {
  display: flex;
  justify-content: space-between;
}

.article:focus {
  outline: dotted 1px black;
}

.article {
  color: black;
  text-decoration: none;
  width: 750px;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 2.15rem;
}

.article .titre {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.article .textes {
  padding: 34px 100px 80px 60px;
}

.article .description {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.article img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
