@import "../mixins/media-queries.scss";

@include tablet-max {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
    }

    table td {
        display: block;
        text-align: left;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }
}

::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(107, 114, 128, 0.35); //theme("colors.gray.500");
    position: fixed;
    pointer-events: fill;
}

// Source : https://dev.to/chokcoco/fantastic-css-border-animation-5166
.animated-border {
    --distance: 15px;
    --animation-speed: 4s;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        border: theme("borderWidth.2") dashed theme("colors.blue.700");
        transition: all 0.5s;
        animation: clippath var(--animation-speed) infinite linear;
        border-radius: theme("borderRadius.lg");
        inset: 0;
        z-index: -1;
    }

    &::after {
        animation: clippath var(--animation-speed) infinite calc(var(--animation-speed) * -0.5) linear;
        // animation-delay: ;
    }

    &.paused {
        &::before,
        &::after {
            animation-name: none;
        }
    }
}

:root {
    --percentage: 98%;
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 var(--percentage) 0);
    }

    25% {
        clip-path: inset(0 var(--percentage) 0 0);
    }
    50% {
        clip-path: inset(var(--percentage) 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 var(--percentage));
    }
}
