@import "../mixins/media-queries.scss";

@include tablet-max {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
    }

    table td {
        display: block;
        text-align: left;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }
}

::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(107, 114, 128, 0.35); //theme("colors.gray.500");
    position: fixed;
    pointer-events: fill;
}

.animated-border {
    --border-length: 15px;
    --border-height: 3px;
    background-image: linear-gradient(90deg, blue 50%, transparent 50%),
        linear-gradient(90deg, blue 50%, transparent 50%),
        linear-gradient(0deg, blue 50%, transparent 50%),
        linear-gradient(0deg, blue 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: var(--border-length) var(--border-height), var(--border-length) var(--border-height), var(--border-height) var(--border-length), var(--border-height) var(--border-length);
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 0.35s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right top;
    }

    100% {
        background-position: left 15px top, right 15px bottom, left bottom 15px,
            right top 15px;
    }
}
