@import "../mixins/media-queries.scss";

@include tablet-max {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
    }

    table td {
        display: block;
        text-align: left;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }
}
