*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: Background;
    padding: 1.1rem;
}

.main {
    padding: 0 0.75em 0.75em;
    min-height: 195vh;
}

.paragraphe {
    padding: 0.75rem;
    border: gray 1px solid;
    background-color: rgb(247, 247, 247);
    margin-bottom: 1rem;
}

.positionnement .titre {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding: 0.3rem 4rem 0.3rem 0;
    background-color: #e2e2e2;
    display: inline-block;
}
