<header class="bulle max-w-[1200px] mx-auto">
    <article class="titre xl:w-[50.78125%]">
        <p class="txt-grand">
            <span>Bachelor</span>
            <span>Universitaire de</span>
            <span>Technologie</span>
        </p>
        <p class="txt-petit">
            <span>Métiers du Multimédia et de</span>
            <span>l'Internet</span>
        </p>
    </article>
    <article class="bulle-icone {{ bubble_color }}"></article>
    <article class="bulle-icone-bordure {{ bubble_color }}"></article>
</header>
