<nav class="max-w-[1200px] mx-auto" role="navigation" aria-label="Menu principal">
    <ul data-navigation="front-end" class="horizontal-scroll-shadow flex md:justify-end gap-x-10 overflow-x-auto pb-2 sm:mr-0 mt-10 before:!pt-0 after:!pt-0">
        {% for menu_item in menu %}
            <li>
                <a class="block whitespace-nowrap text-lg hocus:text-pink-600 {{ '-ml-9' if loop.first else ''}} {{ '-mr-9' if loop.last else ''}}" href="{{ menu_item.link }}">{{ menu_item.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
