<nav class="max-w-[1200px] mx-auto navigation">
    <ul data-navigation class="flex lg:justify-end gap-x-10 whitespace-nowrap overflow-x-auto px-3">
        {% for menu_item in menu %}
            <li>
                <a class="pt-10 block text-lg hover:text-pink-600" href="{{ menu_item.link }}">{{ menu_item.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
