{% set bubble_color = "rouge" %}

<!DOCTYPE html>
<html lang="fr" class="bg-neutral-50">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TITRE MANQUANT !{% endblock %} - SAE 501</title>

    <link rel="stylesheet" href="/styles/reset.css">

    {% block styles %}{% endblock %}

    <script src="/src/scripts/styles.js" type="module" ></script>
    {% block javascript %}{% endblock %}

    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/scripts/styles.js"></script>
</head>
<body class="px-4">
    {% include "components/front-end/navigation.twig" %} 
    {% include "components/front-end/hero.twig" %}
    {{ foo }}
    <main class="max-w-[1280px] mx-auto">

    </main>
</body>
</html>