/* On n'oublie pas la déclaration "box-sizing: border-box" sur tous les éléments */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 12px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  margin-top: 10px;
  /* currentColor est un mot-clé, il contient la valeur de la propriété "color" 
  Le CSS étant bien fait (sur certains points), la propriété "color" n'a pas à être avant toute déclaration qui fait appel à "currentColor"
  Noter aussi que la valeur est héritable
  */
  border: 1px solid currentColor;
  background-color: aliceblue;
  color: #333;
}

.exercice {
  padding: 10px;
  margin-bottom: 15px;
}

.balise-picture picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balise-picture figcaption {
  font-size: 2.5rem;
  text-align: center;
}

.balise-picture picture img {
  height: 450px;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  /* Ici on définit que la valeur de la propriété "display"
    doit prendre sa valeur initiale, telle que définie dans la spécificiation du W3C. 
    Notre classe étant générique le display va s'adapter, pratique !
  */
  .est-mobile {
    display: initial;
  }

  /* La déclaration "display: none" permet de faire disparaître un élément de la page.
  Notez que l'élément disparait également du flux (ce qui n'est pas le cas de "visibily: hidden")
  Cette déclaration est à éviter pour cacher du contenu important, car les lecteurs d'écrans n'y accèdent plus.
  */
  .est-tablette-portrait,
  .est-pc-bureau,
  .est-tablette-paysage {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .est-tablette-portrait {
    display: initial;
  }

  .est-mobile,
  .est-pc-bureau,
  .est-tablette-paysage {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1099px) {
  .est-tablette-paysage {
    display: initial;
  }

  .est-mobile,
  .est-pc-bureau,
  .est-tablette-portrait {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .est-pc-bureau {
    display: initial;
  }

  .est-mobile,
  .est-tablette-paysage,
  .est-tablette-portrait {
    display: none;
  }
}

/*
Pour plus d'infos : https://developer.mozilla.org/fr/docs/Web/CSS/resolution
*/
/* résolution "normale" */
@media (max-resolution: 163dpi) {
  .est-sd {
    display: initial;
  }

  .est-uhd,
  .est-hd {
    display: none;
  }
}

/* haute résolution */
@media (min-resolution: 164dpi) and (max-resolution: 192dpi) {
  .est-hd {
    display: initial;
  }

  .est-uhd,
  .est-sd {
    display: none;
  }
}

/* très haute résolution */
@media (min-resolution: 193dpi) {
  .est-uhd {
    display: initial;
  }

  .est-hd,
  .est-sd {
    display: none;
  }
}

.done {
  text-decoration: line-through;
}
