<!DOCTYPE html>
<html lang="en" class="dark:bg-gray-800 dark:text-white text-slate-800">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <title>Render error</title>

        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/fonts.css">

        <link rel="icon" href="/images/error-favicon.svg">

        {% if NODE_ENV == "development" %}
            <script type="module" src="/src/scripts/main.debug.js" defer></script>
        {% endif %}
    </head>
    <body class="">
        <div class="bg-red-700 text-white text-xl">
            <h1 class="px-safe px-6 py-3 m-auto max-w-7xl">Error {{ statusCode }} - Something went wrong</h1>
        </div>
        <div class="m-auto max-w-7xl p-6 px-safe">
            <p class="text-lg mb-4">{{ error.message }}</p>
            {% if sourceCode %}
                <div class="dark:bg-slate-900 bg-yellow-50 rounded-md border-2 border-solid border-red-700">
                    <header class="bg-red-700 p-2 flex justify-between items-center">
                        <b>{{ fileType }}</b>
                        <button class="py-1 px-3 hover:bg-red-900 hover:text-white rounded" data-file="{{ routeName("open_editor", { file: details.file_path, line: details.line, column: details.column })}}">Open file</button>
                    </header>
                    <div class="p-3">
                        <code class="whitespace-break-spaces">{{ sourceCode }}</code>
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>