*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.conteneur-1280 {
  max-width: 1280px;
  padding: 0 0.8rem;
  margin: 0 auto;
}

.navigation-principale ul {
  display: flex;
  justify-content: flex-end;
  column-gap: 5.625rem;
  padding-top: 2.5rem;
  font-size: 1.25rem;
  margin-bottom: 5.375rem;
  font-weight: 600; /* Graisse semi-bold */
}

.titre-page {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.375rem;
}
