*,
::before,
::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ol {
  list-style-type: decimal;
}

html {
  width: 100%;
  font-size: 1rem;
  font-family: Helvetica, Arial;

  background-image: linear-gradient(#ffffe8, #ffffff);
  background-repeat: no-repeat;
}

.rouge-bcn {
  color: var(--rouge-bcn);
}

.contenu {
  max-width: var(--largeur-max-site);
}

.encart-covid {
  background-color: white;
}

.encart-covid-instructions {
  list-style: decimal inside;
}

.encart-covid-conteneur {
  background-color: red;
  padding: 3px;
  border-radius: 3px;
}

/* smartphones (portrait et paysage) */
@media screen and (max-width: 767px) {
}

/* tablettes (portrait et paysage) */
@media screen and (min-width: 768px) and (max-width: 1112px) {
}

/* tablette + mobile */
@media screen and (max-width: 1112px) {
  .contenu {
    padding: 0 2.66666666667%;
  }
}

/* PC */
@media screen and (min-width: 1113px) {
}
