body,
html {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  background-color: #eeeeee;
}

body {
  max-width: 1100px; /* Notre site ne peut pas avoir une largeur supérieure à 1100px */
  margin: 0 auto;
}

.navigation-principale {
  background-color: #62b7bc;
  margin-bottom: 20px;
}

.navigation-principale a {
  color: black;
  display: block;
}

.image-complementaire {
  margin: 0;
  height: 125px;
}

.image-complementaire img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.description {
  background-color: #ffffff;
  padding: 28px 25px;
}

.description p {
  margin-bottom: 32px;
}

.liste-cursus {
  background-color: #ffffff;
  padding: 20px 14px;
}

.liste-cursus li {
  border: solid 2px;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 10px;
}

.liste-cursus li:nth-child(3n + 4) {
  border-color: #cd3a68;
}

.liste-cursus li:nth-child(3n + 3) {
  border-color: #4d72d6;
}

.liste-cursus li:nth-child(3n + 2) {
  border-color: #c582dd;
}

.liste-cursus li:nth-child(3n + 1) {
  border-color: #5abc7b;
}
