<!DOCTYPE html>
<html lang="fr" class="bg-neutral-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}TITRE MANQUANT !
			{% endblock %}
			- Administration</title>

		<link rel="stylesheet" href="/styles/reset.css">
		<link rel="stylesheet" href="/styles/fonts.css">
		{% if NODE_ENV != "development" %}
			<link rel="stylesheet" href="{{ manifest['style.css'].file }}"/>
		{% endif %}

		{% block styles %}{% endblock %}
		{% block javascript %}{% endblock %}

		{% if NODE_ENV == "development" %}
			<script type="module" src="http://{{ HOST_IP }}:5173/@vite/client"></script>
			<script type="module" src="http://{{ HOST_IP }}:5173/src/scripts/main.backend.js" defer></script>
		{% else %}
			<script type="module" src="{{ manifest['src/scripts/main.backend.js'].file }}" defer></script>
		{% endif %}
	</head>
	<body class="">
        <div class="absolute w-full min-h-[40vh] z-[-1] bg-gradient-to-b from-indigo-200 to-neutral-100"></div>
        <div class=" px-6 pt-5 flex gap-6 flex-col md:flex-row">
            {% include "components/back-end/navigation.twig" %}
            <main class="w-full">
                {% block main %}{% endblock %}
            </main>
        </div>
	</body>
</html>
