*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --bg-couleur: #ecf4f8;
  --text-couleur-principale: #334357;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-couleur: #181e24;
    --text-couleur-principale: #929ca4;
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: var(--bg-couleur);
  color: var(--text-couleur-principale);
}

.conteneur {
  padding: 0 1%;
  max-width: 1024px;
}

.form-resaux-sociaux {
  font-size: 1.5rem;
  padding-bottom: 1.35rem;
  --bg-couleur: #000;
  --bordure-couleur: #000;
  --text-couleur: #fff;
}

@media (prefers-color-scheme: dark) {
  .form-resaux-sociaux {
    --bg-couleur: #fff;
    --bordure-couleur: var(--bg-couleur);
    --text-couleur: #000;
  }
}

.form-resaux-sociaux legend {
  background-color: var(--bg-couleur);
  color: var(--text-couleur);
  padding: 0.1875rem 0.375rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.form-resaux-sociaux fieldset {
  border-width: 2px;
  border-color: var(--bordure-couleur);
  border-style: solid;
  padding: 1rem;
}

.form-resaux-sociaux fieldset + fieldset {
  margin-top: 1.95rem;
}

.form-resaux-sociaux .informations {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.form-resaux-sociaux .liste-champs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.975rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .form-resaux-sociaux .liste-champs {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.form-resaux-sociaux .liste-champs.colonne {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.form-resaux-sociaux .liste-champs label {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.form-resaux-sociaux .liste-champs label::after {
  content: ":";
}

@media screen and (max-width: 767px) {
  .form-resaux-sociaux .liste-champs label {
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.form-resaux-sociaux .liste-champs input,
.form-resaux-sociaux .liste-champs select {
  padding: 0.625rem 0.5rem;
  margin-left: 0.9rem;
  width: 100%;
  font-size: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

@media screen and (max-width: 767px) {
  .form-resaux-sociaux .liste-champs input,
  .form-resaux-sociaux .liste-champs select {
    margin-left: 0;
  }
}

.form-resaux-sociaux .champ-conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .form-resaux-sociaux .champ-conteneur {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.form-resaux-sociaux .btn-soumission {
  display: block;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  font-size: 1.75rem;
  background-color: #17007c;
  margin-top: 0.8rem;
}

.form-resaux-sociaux .select-conteneur {
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  border: 1px solid #6e6e6e;
  background-color: white;
  margin-left: 0.9rem;
}

@media screen and (max-width: 767px) {
  .form-resaux-sociaux .select-conteneur {
    margin-left: 0;
  }
}

.form-resaux-sociaux .select-conteneur select {
  width: 110%;
  border: none;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */