/* NE PAS MODIFIER */
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

