*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: radial-gradient(#efdffcd8, #e2e2e2);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    --bg-c: rgba(255, 255, 255, 0.75);
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--bg-c);
    padding: 1.1rem;
}

.main {
    padding: 0 0.75em 0.75em;
    min-height: 195vh;
}

.paragraphe {
    padding: 0.75rem;
    border: gray 1px solid;
    background-color: rgb(247, 247, 247);
    margin-bottom: 1rem;
}

.positionnement .titre {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding: 0.3rem 4rem 0.3rem 0;
    background-color: #e2e2e2;
    display: inline-block;
}

:root {
    --ease-2: cubic-bezier(0.25, 0, 0.4, 1);
    --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
    --ease-4: cubic-bezier(0.25, 0, 0.2, 1);
    --ease-spring-4: linear(
        0,
        0.009,
        0.037 1.7%,
        0.153 3.6%,
        0.776 10.3%,
        1.001,
        1.142 16%,
        1.185,
        1.209 19%,
        1.215 19.9% 20.8%,
        1.199,
        1.165 25%,
        1.056 30.3%,
        1.008 33%,
        0.973,
        0.955 39.2%,
        0.953 41.1%,
        0.957 43.3%,
        0.998 53.3%,
        1.009 59.1% 63.7%,
        0.998 78.9%,
        1
    );
}

details {
    inline-size: 100%;
    --_duration: 0.2s;

    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
        transition: border-color var(--_duration);

        &::details-content {
            transition: content-visibility var(--_duration) allow-discrete,
                opacity var(--_duration), block-size var(--_duration),
                scale var(--_duration);
        }
    }

    &[open] {
        &::details-content {
            opacity: 1;
            block-size: auto;
        }

        > summary {
            transition: display var(--_duration) allow-discrete;
            &:not(:hover, :focus-visible) {
            }

            &::before {
                rotate: .25turn;
            }
        }


    }


    > summary {
        cursor: default;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        &::before {
            display: block;
            width: 24px;
            height: 24px;
            aspect-ratio: 1;
            flex-shrink: 0;
            transition:
          opacity .2s var(--ease-2) .27s,
          translate .2s var(--ease-4) .27s,
          rotate .75s var(--ease-spring-4);
            content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTcuMzMgMjRsLTIuODMtMi44MjkgOS4zMzktOS4xNzUtOS4zMzktOS4xNjcgMi44My0yLjgyOSAxMi4xNyAxMS45OTZ6Ii8+PC9zdmc+);
            @media (prefers-color-scheme: light) {
                content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy4zMyAyNGwtMi44My0yLjgyOSA5LjMzOS05LjE3NS05LjMzOS05LjE2NyAyLjgzLTIuODI5IDEyLjE3IDExLjk5NnoiLz48L3N2Zz4=);
            }
        }

        &:not(:hover, :focus-visible) {
            &::before {
              translate: -10px 0;
              opacity: 0;
            }
          }
    }
}
