.titre-principal {
  color: steelblue;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.description {
  /* On évitera de mettre une valeur inférieure à 1rem pour la propriété "font-size" */
  font-size: 1rem;
}

.nouvelle {
  margin-bottom: 2rem;
}
