*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: #c9d6ff; /* fallback for old browsers */
  /* Un dégradé mais cette fois-ci il est radial et non plus linéaire */
  background: radial-gradient(#c9d6ff, #e2e2e2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  --bordure-cote: 1px solid #333333;
  max-width: 900px;
  margin: 0 auto;
  border-left: var(--bordure-cote);
  border-right: var(--bordure-cote);
  padding: 0 0.75em 0.75em;
  background-color: rgba(255, 255, 255, 0.35);
}

header {
  margin-bottom: 15px;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0;
  padding-top: 20px;

  background: linear-gradient(to right, #f703c2, #44566b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1::before,
header h1::after {
  content: "•";
}

header p {
  line-height: 1.2;
  font-size: 1.2rem;
}

code {
  color: wheat;
  background-color: #333;
  padding: 0 5px;
}

/*
 Reset de la balise textarea
*/
textarea {
  /* resize: vertical; */ /* Décommenter pour associer le */
  overflow: auto;
  vertical-align: top;
}
