* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  max-width: 1100px;
}
.navigation {
  background-color: #62b7bc;
  overflow: auto;
  white-space: nowrap;
  position: relative;
}

.navigation ul li {
  display: inline-block;
  border-right: 1px solid #5d5d5d;
}

.navigation ul li a {
  color: #1f1f1f;
  display: block;
  padding: 15px 30px;
}

.navigation ul li a:hover {
  color: aliceblue;
}
