{% extends "layouts/back-end/base.njk" %}

{% set page_name = "debug" %}
{% set row_padding = "py-2 px-4" %}

{% block head_tags %}
    <link rel="icon" href="/images/wrench-screwdiver-favicon.svg">

    {% if NODE_ENV == "development" %}
        <script type="module" src="/src/scripts/main.debug.js" defer></script>
    {% endif %}
{% endblock %}

{% block title %}Eslint Report - Debug{% endblock %}

{% block main %}
    <div class="bg-white rounded-2xl shadow-md pb-6">
        <header class="mb-1 p-6 pr-4 pl-8 flex justify-between gap-2 lg:flex-row flex-col">
            <p class="text-4xl">
                Eslint Report
                <span class="block text-sm">Page accessible uniquement en mode "développement"</span>
            </p>
        </header>

        <div class="px-6">
            {% for report in data %}
                {% set summary_bg_color = "bg-red-100" if report.messages | length > 0 else "" %}
                <details class="border border-solid border-stone-500 py-2 [&_svg]:open:-rotate-180">
                    <summary class="flex cursor-pointer list-none items-center gap-4 px-4 -my-2 py-2 {{ summary_bg_color }}">
                        <div>
                            <svg class="rotate-0 transform text-blue-700 transition-all duration-300" fill="none" height="20" width="20" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                        <div class="flex w-full justify-between">
                            <p>{{ report.filePath }}</p>
                            <p class="text-sm">{{ report.messages | length }} problems - {{ report.errorCount }} error(s), {{ report.warningCount }} warning(s)</p>
                        </div>
                    </summary>
                    <div class="border-t border-solid border-stone-500 mt-2 -mb-2">
                        <table class="w-full bg-white rounded-lg overflow-hidden border-collapse">
                            <tbody>
                                {% for error in report.messages %}
                                    <tr class="hover:bg-neutral-50 even:bg-blue-50">
                                        <td class="bg-transparent border-solid border-slate-200 border-b {{ row_padding }} align-middle" data-label="Titre">
                                            <button class="py-1 px-3 rounded text-start" data-file="{{ routeName("open_editor", { file: report.filePath, line: error.line, column: error.column }) }}">
                                                <p class="text-sm">Line: {{ error.line }}</p>
                                                <p class="text-sm">Column: {{ error.column }}</p>
                                                <p class="text-xs">Ouvrir dans Code</p>
                                            </button>
                                        </td>
                                        <td class="{{ row_padding }} bg-transparent border-solid border-slate-200 border-b shadow-transparent @2xl/main:max-w-[300px] align-middle" data-label="Contenu">
                                            {% if error.severity == 1 %}
                                                <p class="text-yellow-600 font-bold">
                                                    Warning
                                                </p>
                                            {% else %}
                                                <p class="text-red-600 font-bold">
                                                    Error
                                                </p>
                                            {% endif %}
                                        </td>
                                        <td class="bg-transparent border-solid border-slate-200 border-b p-6 align-middle" data-label="Auteur">
                                            {{ error.message }}
                                        </td>
                                        <td class="bg-transparent border-solid border-slate-200 border-b {{ row_padding }} align-middle" data-label="Dernière mise à jour">
                                            <a href="{{ getEslintLink(error.ruleId) }}" target="_blank" rel="noopener noreferrer" class="underline text-blue-800 hover:no-underline focus-within:no-underline">{{ error.ruleId }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </details>
            {% endfor %}
        </div>
    </div>
{% endblock %}