{% set filter_entries = [
    {
        class: "bg-indigo-100 text-indigo-900 dark:bg-indigo-900 dark:text-indigo-300 hover:bg-indigo-200 hover:dark:bg-indigo-950 outline-transparent",
        class_active: "bg-gray-700 text-indigo-100 outline-indigo-400",
        name: "ALL"
    },
     {
        class: "bg-green-100 text-green-900 dark:bg-green-900 dark:text-green-300 hover:bg-green-200 hover:dark:bg-green-950 outline-transparent",
        class_active: "bg-gray-700 text-green-100 outline-green-400",
        name: "GET"
    },
    {
        class: "bg-blue-100 text-blue-900 dark:bg-blue-900 dark:text-blue-300 hover:bg-blue-200 hover:dark:bg-blue-950 outline-transparent",
        class_active: "bg-gray-700 text-blue-100 outline-blue-400",
        name: "POST"
    },
    {
        class: "bg-yellow-100 text-yellow-900 dark:bg-yellow-900 dark:text-yellow-300 hover:bg-yellow-200 hover:dark:bg-yellow-950 outline-transparent",
        class_active: "bg-gray-700 text-yellow-100 outline-yellow-400",
        name: "PUT"
    }, {
        class: "bg-red-100 text-red-900 dark:bg-red-900 dark:text-red-300 hover:bg-red-200 hover:dark:bg-red-950 outline-transparent",
        class_active: "bg-gray-700 text-red-100 outline-red-400",
        name: "DELETE"
    }
] %}
{% set qsp_method = query_string_params.method if query_string_params.method else "ALL" %}

<!DOCTYPE html>
<html lang="en" class="dark:bg-gray-900 dark:text-white text-slate-800">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List routes ({{ qsp_method }}) - {{ list_routes | length }} routes found - SAE-501</title>

        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/fonts.css">

        <link rel="icon" href="/images/wrench-screwdiver-favicon.svg">

        {% if NODE_ENV == "development" %}
            <script type="module" src="/src/scripts/main.debug.js" defer></script>
        {% endif %}
    </head>
    <body class="@container/main px-2">
        <header class="p-6">
            <h1 class="text-4xl">
                List routes - SAE-501
                <span class="block text-base">{{ list_routes | length }} routes found</span>
            </h1>
            <hr class="my-5">
            <ul class="flex gap-3">
                {% for item in filter_entries %}
                    {% if item.name in list_methods or item.name == "ALL" %}
                        <li class="rounded outline-2 outline {{ item.class_active if qsp_method == item.name else item.class }} relative">
                            <a 
                                href="?method={{ item.name }}" 
                                class="block px-2.5 py-0.5"
                            >
                                {{ item.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </header>
        <div class="flex flex-col px-6 pt-0 pb-6">
            <label for="route">Search by route's name</label>
            <input class="text-black rounded" type="text" value="{{ query_string_params.route_name }}" id="route" placeholder="Route's name" data-route-search>
        </div>
        <table class="w-full bg-white dark:bg-slate-700 rounded-t-lg overflow-hidden border-separate" data-table-routes>
            <thead class="bg-white dark:bg-slate-700 top-0 md:sticky">
                <tr>
                    <th class="font-bold px-6 text-left border-solid border-slate-200 border-b py-3">Method</th>
                    <th class="font-bold px-6 text-left border-solid border-slate-200 border-b py-3">Name</th>
                    <th class="font-bold px-6 text-left border-solid border-slate-200 border-b py-3">Path</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list_routes %}
                    <tr>
                        <td class="bg-transparent border-solid border-slate-200 border-b py-4 px-6" data-label="METHOD">
                            {% if item.METHOD == "GET" %}
                                <span class="bg-green-100 text-green-900 me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{ item.METHOD }}</span>
                            {% elif item.METHOD == "POST" %}
                                <span class="bg-blue-100 text-blue-900 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                                    {{ item.METHOD }}
                                </span>
                            {% elif item.METHOD == "DELETE" %}
                                <span class="bg-red-100 text-red-900 me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">{{ item.METHOD }}</span>
                            {% elif item.METHOD == "ANY" %}
                                <span class="bg-indigo-100 text-indigo-900 me-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-gray-300">{{ item.METHOD }}</span>
                            {% else %}
                                <span class="bg-yellow-100 text-yellow-900 me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">{{ item.METHOD }}</span>
                            {% endif %}
                        </td>
                        <td class="py-4 px-6 bg-transparent border-solid border-slate-200 border-b shadow-transparent" data-label="NAME">
                            {{ item.NAME }}
                        </td>
                        <td class="py-4 px-6 bg-transparent border-solid border-slate-200 border-b shadow-transparent" data-label="PATH">
                            {{ item.PATH }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center bg-transparent border-solid border-slate-200 border-b py-4 px-6">There's no routes for now</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer class="p-6">
            <ul class="flex items-center gap-4 justify-center flex-col sm:flex-row">
                <li>
                    <a href="{{ routeName("homepage") }}" class="focus-within:text-blue-700 hover:text-blue-700 dark:hover:text-blue-300 dark:focus-within:text-blue-300">Accéder au site</a>
                </li>
                <li>
                    <a href="{{ routeName("admin") }}" class="focus-within:text-blue-700 hover:text-blue-700 dark:hover:text-blue-300 dark:focus-within:text-blue-300">Accéder à l'administration</a>
                </li>
            </ul>
        </footer>
    </body>
</html>