.article {
  transition: box-shadow 250ms, background-color 250ms;
}

.article:hover, 
.article:focus {
  box-shadow: 0px 1px 4px #00000029;
  background-color: rgb(252, 252, 252);
  outline: 1px solid lightgrey;
}
