body {
  max-width: 900px;
  margin: 0.75rem auto;
  padding: 0 0.75rem;
  aspect-ratio: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

.header {
  margin-bottom: 1.5rem;
}

.header .h1 {
  font-size: 2rem;
  font-weight: bold;
}

.pkmn-card {
  aspect-ratio: 245 / 158;
  border: #1d1d1d 2px solid;
  border-radius: 1rem;
}

.pkmn-card .header {
  background-color: aliceblue;
  border-top: #1d1d1d 1px solid;
  border-bottom: #1d1d1d 1px solid;
  text-align: end;
  margin-top: 2rem;
  padding: 0.75rem 1rem;
}

.pkmn-card .titre {
  font-size: 1.85rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.pkmn-card .pkmn-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  gap: 0.5rem;
  margin-left: 1rem;
}

.pkmn-card .pkmn-element {
  aspect-ratio: 50/30;
  overflow: hidden;
  border: #1d1d1d 1px solid;
  position: relative;
}

.pkmn-card .pkmn-element .image-centre {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
