/* Pour éviter toute prise de tête lors du calcul des boites, 
on pense bien à rajouter la propriété "box-sizing" avec la valeur "border-box" */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --police-de-base: Helvetica, Arial, sans-serif;
  --blanc: rgb(243, 235, 235);
}

body {
  max-width: 1280px;
  font-family: var(--police-de-base);
  margin: 0 auto;
  /* L'unité vh signifie viewport height ou en français "hauteur d'écran" 
  De ce fait la hauteur de notre body se base sur la hauteur de notre écran, 
  et ce, quelque soit la hauteur de son parent. Pratique.*/
  min-height: 100vh;

  /* Cette propriété est là pour les anciens navigateurs, elle permet, 
  si le dégradé pour le background n'est pas pris en compte, d'afficher quand même quelque chose.
  On parle de "fallback" dans le jargon technique, ça peut se traduire par "plan de secours/rechange" */
  background: #141e30;

  /* Notre propriété "background" possède plusieurs valeurs séparées par une virgule.
  Nous sommes donc en face d'un background multiple en l'occurence une image et un dégradé de couleurs.
  La syntaxe du background multiple veut que le premier background affiché soit le premier sur la pile de background,
  et ainsi de suite. De ce fait, si un background ne s'affiche pas, c'est peut être qu'il est caché par un autre. */
  background: url("../asfalt-dark.png") no-repeat,
    linear-gradient(to bottom, #243b55, #141e30);
}

p {
  /* Ici on surcharge la variable blanc, 
  ce n'est plus la valeur rgb(243, 235, 235) qui est utilisée */
  --blanc: white;

  padding: 0.5em;
  line-height: 1.2;
  color: var(--blanc, white);
}
