<nav role="navigation" aria-label="Fil d'ariane">
    <ol class="flex gap-1">
        {% for breadcrumb_item in breadcrumb %}
            <li class="inert:opacity-40" {{ "inert" if loop.last else "" }}>
                <a 
                    class="text-gray-400 px-2 py-1 rounded-md hocus:bg-gray-200 hocus:text-gray-900 text-sm" href="/{{ breadcrumb_item }}"
                >
                    {{ breadcrumb_item.split('/') | last | capitalize }}
                </a>
            </li>
            {% if loop.last == false %}
                <li class="text-gray-400 last:hidden" aria-hidden="true">❯</li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>