{% macro field(path, accepts=".jpg, .jpeg, .png", name = "image") %}
    <figure class="w-fit mb-2">
        <img src="{{ path }}" data-preview-upload="{{ name }}" width="250" alt="">
    </figure>
    <input 
        data-upload-file="{{ name }}"
        type="file" 
        accept="{{ accepts }}"
        class="block w-full text-sm text-slate-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm
            file:bg-sky-50 file:border-sky-500
            hover:file:bg-sky-100
        "
        name="{{ name }}"
    />
    {# <button type="button" class="text-sm rounded-full block py-2 px-4 border-sky-500 text-slate-500 bg-blue-50" data-clipboard-upload="{{ name }}">Coller depuis le presse-papier</button> #}
    <span class="mt-1 text-sm text-slate-500" id="file_input_help">{{ accepts }} (taille max. 800kB).</span>
{% endmacro %}