{% macro edit(link, label = 'Editer') %}
    <a 
        href="{{ link }}" 
        class="text-blue-500 hover:text-blue-900 block sm:inline-block w-full sm:w-fit text-left">
            {{ label }}
    </a>
{% endmacro %}

{% macro delete(link, title, label = 'Supprimer') %}
    <button 
        type="button" 
        class="text-red-600 block sm:inline-block sm:w-fit w-full text-left" 
        popovertargetaction="open" 
        popovertarget="delete-popup" 
        data-delete-name='{{ title }}' 
        data-delete-url="{{ link }}"
    >
        {{ label }}
    </button>
{% endmacro %}