{% set menu_entries = [
    {
        link: admin_url ~ "/articles",
        name: "Articles",
        key: "articles"
    },
    {
        link: admin_url ~ "/saes",
        name: "SAÉS",
        key: "saes"
    },
    {
        link: admin_url ~ "/messages",
        name: "Messages",
        key: "messages"
    },
    {
        link: admin_url ~ "/auteurs",
        name: "Auteurs",
        key: "authors"
    },
    {
        link: admin_url ~ "/divers",
        name: "Divers",
        key: "divers"
    },
    {
        link: base_url,
        name: "Accéder au site",
        key: "site"
    }
] %}

{% if NODE_ENV == "development" %}
     {% set menu_entries = (menu_entries.push(
        {
            link: base_url ~ "/debug",
            name: "Debug",
            key: "debug"
        }
    ), menu_entries) %}
{% endif %}

<aside class="self-start w-full bg-white rounded-2xl flex-initial shadow-md static lg:sticky lg:top-5 basis-[min-content]">
    <header>
        <a href="{{ admin_url }}" class="text-center block mx-8 lg:mx-14 pt-6 pb-4 text-xl font-bold bg-gradient-to-b from-blue-900 to-slate-900 bg-clip-text text-transparent hover:from-blue-600 hover:to-slate-600">Administration SAÉ 501</a>
    </header>
    <hr class="h-px">
    <ul data-navigation="back-end" class="flex md:flex-col pl-0 mb-0 flex-nowrap flex-row overflow-x-auto md:overflow-x-visible">
        {% for item in menu_entries %}        
            <li class="mt-0.5 w-full {{ 'lg:border-t-2 lg:border-slate-100 lg:border-solid' if loop.last else "" }} ">
                <a 
                    href="{{ item.link }}" 
                    class="
                        {{ 'bg-yellow-100' if loop.last and NODE_ENV == "development" else "" }} 
                        {{ 'bg-blue-50' if (page_name == item.key) else "" }} 
                        px-4 py-3 rounded-lg flex items-center my-1 mx-2 text-base hover:bg-blue-100 whitespace-nowrap
                    "
                >
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</aside>
