{% set menu_entries = [
    {
        "link": "articles",
        "name": "Articles",
        "key": "articles",
    },
    {
        "link": "admin/saes",
        "name": "SAÉS",
        "key": "saes",
    },
    {
        "link": "./messages",
        "name": "Messages",
        "key": "messages",
    },
    {
        "link": "./divers",
        "name": "Divers",
        "key": "divers",
    },
    {
        "link": "./",
        "name": "Accéder au site",
        "key": "site"
    }
] %}

<aside class="inset-y-0 flex-wrap w-fit bg-white rounded-2xl flex-initial shadow-md">
	<header>
		<a href="" class="block px-14 py-6 text-base text-slate-800 font-bold">Administration</a>
	</header>
	<hr class="h-px my-2">

	<ul class="flex flex-col pl-0 mb-0">
		{% for item in menu_entries %}
			<li class="mt-0.5 w-full">
				<a href="{{ item.link }}" class="{{ (page_name == item.key) ? 'bg-indigo-50' : '' }} px-4 py-3 rounded-lg flex items-center my-1 mx-2 text-base">
					{{ item.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
</aside>
