{% set menu_entries = [
    {
        "link": "articles",
        "name": "Articles",
        "key": "articles",
    },
    {
        "link": "saes",
        "name": "SAÉS",
        "key": "saes",
    },
    {
        "link": "messages",
        "name": "Messages",
        "key": "messages",
    },
    {
        "link": "divers",
        "name": "Divers",
        "key": "divers",
    },
    {
        "link": "./",
        "name": "Accéder au site",
        "key": "site"
    }
] %}

<aside class="inset-y-0 flex-wrap w-fit bg-white rounded-2xl flex-initial shadow-md sticky">
	<header>
		<a href="" class="block px-14 pt-6 pb-4 text-xl font-bold bg-gradient-to-b from-indigo-900 to-slate-900 bg-clip-text text-transparent">Administration</a>
	</header>
	<hr class="h-px">

	<ul class="flex flex-col pl-0 mb-0">
		{% for item in menu_entries %}
			<li class="mt-0.5 w-full">
				<a href="{{ admin_url ~ "/" ~ item.link }}" class="{{ (page_name == item.key) ? 'bg-indigo-50' : '' }} px-4 py-3 rounded-lg flex items-center my-1 mx-2 text-base hover:bg-indigo-100">
					{{ item.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
</aside>
