{% macro previous(url, is_disabled = false) %}
	{% if is_disabled %}
        <span class="gap-x-2 items-center p-4 flex opacity-30">
            <svg class="h-5 w-5 text-gray-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"/>
            </svg>
            Précédent
        </span>
	{% else %}
        <a href="{{ url }}" class="gap-x-2 items-center p-4 flex border-t-2 border-t-transparent hover:border-t-slate-400 border-solid">
            <svg class="h-5 w-5 text-gray-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"/>
            </svg>
            Précédent
        </a>
	{% endif %}
{% endmacro %}

{% macro next(url, is_disabled = false) %}
    {% if is_disabled %}
        <span class="gap-x-2 items-center p-4 flex opacity-30">
            Suivant
            <svg class="h-5 w-5 text-gray-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
            </svg>
        </span>
	{% else %}
        <a href="{{ url }}" class="gap-x-2 items-center p-4 flex border-t-2 border-t-transparent hover:border-t-slate-400 border-solid">
            Suivant
            <svg class="h-5 w-5 text-gray-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
            </svg>
        </a>
    {% endif %}
{% endmacro %}
