<div class="bg-white rounded-2xl shadow-md pb-6">
	<header class="mb-6 p-6 pl-8 text-xl font-bold">
    ffefe
		<p>{% block widget_title %}{% endblock %}</p>
	</header>
    {% block widget_content %}{% endblock %}
</div>

{# {% block widget_content %}{% endblock %} #}