html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

.form {
    margin-top: 20px;
    font-size: 1.25rem;

    legend {
        background-color: #000;
        color: #fff;
        padding: 3px 6px; 
    }

    .el-form {
        display: flex;
        flex-direction: column;

        & + .el-form {
            margin-top: 15px;
        }

        input {
            padding: 10px 10px;
        }
    }

    .btn-submit {
        padding: 10px 15px;
        background-color: rosybrown;
        border: rebeccapurple 2px solid;
        appearance: none;
        font-size: 1.2rem;
    }
}