<header class="bulle conteneur-1280">
	<article class="titre">
		<h1 class="txt-grand">
			<span>Bachelor</span>
			<span>Universitaire de</span>
			<span>Technologie</span>
		</h1>
		<h2 class="txt-petit">
			<span>Métiers du Multimédia et de</span>
			<span>l'Internet</span>
		</h2>
	</article>
	<article class="bulle-icone {{ bubble_color }}"></article>
	<article class="bulle-icone-bordure {{ bubble_color }}"></article>
</header>
