<nav class="max-w-[1280px] mx-auto">
	<ul class="flex justify-end gap-x-10">
		{% for menu_item in menu %}
			<li>
				<a class="pt-10 block text-lg hover:text-pink-500" href="{{ menu_item.link }}">{{ menu_item.name }}</a>
			</li>
		{% endfor %}
	</ul>
</nav>
